@font-face {
  font-family: typingFont;
  src: url(Fonts/TravelingTypewriter.woff);
}

@font-face {
  font-family: SugarDeath;
  src: url(Fonts/SugarDeath2.woff);
}

@font-face {
	font-family: 'Rush';
	src: url('Fonts/Rush.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html {
	background-color:#bcf7cc;
	margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    
}

h2 {
	font-family: typingFont;
	font-weight: bold;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: inherit;
}

.mainTitle {
	text-align: center;
	font-size: 80px;
	font-family: SugarDeath;
	color: teal;
}

.mainTitle #mainTitleVar {
	overflow: hidden;
	margin: 0 auto;
	font-weight: normal;
	font-size: 80px;
	font-family: typingFont;
	color: red;
	border-right: 3px solid white;
	animation: 
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
	white-space: nowrap;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	20% { border-color: white; }
}

.allTabs {
	width: 100%;
	color:white;
	z-index: 1;
	padding: 0px;
	margin: 0px;

}

.tab {
	text-align: center;
	background-color: rgb(34, 34, 34);
	font-weight: bold;
	font-family: helvetica;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.5s;
}

.tab:hover {
	background-color: white;
	color:rgb(34, 34, 34);
	transition: 0.5s;
}

#logo {
	text-decoration: none;
	font-family: SugarDeath;
	font-size: 40px;
	color:teal;
	text-align: left;
}

.temp {
	height:2000px;
}

.banner {
	box-sizing: border-box;
	top:-20px; 
	width:100%;
	height: 500px;
	background: url(Pictures/banner.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bannerText {
 	backdrop-filter: blur(20px);
	background-color: rgb(0,0,0);
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	background-color: rgba(0,0,0,0.4);
}

.temp {
	height: 1000px;
}

.header {
	padding-top:20px;
}

.sticky {
	top:0 ;
	position: fixed;
	width:100%;
	background-color: rgb(34, 34, 34);
	color:white;
	z-index: 1;
	padding: 0px;
	margin: 0px;
}

.faceRound {
	margin-left: 100px;
	margin-top: 100px;
	float:left;
	position: ;
}

.regularText {
	text-align: justify;
	font-family: 'Alegreya',serif;
}
.menu {
	width:100%;
	height: 75px;
	background-color: rgb(34, 34, 34);
}

.pic {
	height:100%;
	width:100%;
}

.subtitle {
	text-align: center;
	font-size: 50px;
	font-family: typingFont;

}

.segment {
	height:500px;

}

.leftSegment {
	float: left;
	width: 30%;
	height: 100%;
	background-color: teal;

}

.rightSegment {
	float: right;
	background-color: #EA1646;
	color: white;
	width: 0%;
	height: 100%;
	overflow: hidden;
	position: relative;
	transition: 0.5s;

}

.slideRight {
	width: 70%;
}

.leftSegment1 {
	float: left;
	background-color: #170420;
	color: white;
	width: 0%;
	height: 100%;
	overflow: hidden;
	position: relative;
	transition: 0.5s;

}

.rightSegment1 {
	width:30%;
	float: right;
	height: 100%;
	background-color: teal;


}

.slideLeft {
	width: 70%;
}

.content {
	float: top;
	width: 100%;
}

.regularText {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 25px;

}

.pageLinks {
	width: 100%;
}

.bigTabs {
	height: 100%;
	width:100%;
	
}


.boxes {
	text-align: center;
	margin:0px;
	height: 100%;
	width: 20%;
	transition: all 0.3s ease-in-out;
}

.boxes:hover {
	background-color: #EA1646;
	transform: scale(1.1);
	color: white;
}

.linkIcon {
	height:200px;
}

.footer {
	background-color: rgb(34,34,34);
	height: 150px;

}

.bottomTab {
	text-align: center;
	background-color: rgb(34, 34, 34);
	font-family: helvetica;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.5s;
}

.footLinks {
	color: white;
	text-align: center;
	padding-top: 10px;
}

.icons {
	padding-top: 20px;
    margin-left:auto; 
    margin-right:auto;
}

.icon {
	margin-right: 20px;
	transition: all 0.3s ease-in-out;

}

.icon:hover {
	transform: scale(1.1);
}

.pdf {
	text-align: center;
	padding-top: 50px;
	width:100%;
	height: 100%;
	background-color: #170420;
}

.map {
	width: 1000px;
	height: 450px;
	margin:auto;
}

.title {
	text-align: center;
}


